* {
    --Dark-Colour: #2e2e2e;
    --Darker-Colour: #202020;

    --Light-Colour: #fff;
}

body {
    background-color: var(--Dark-Colour);
    margin: 0;

    font-family: quicksand, sans-serif;
}

.navbar {
    background-color: var(--Darker-Colour);
    margin: 0;
    display: flex;
    width: 100%;
    height: 2.5vw;
    place-items: center;
    place-content: space-evenly;
}
.navbar-link-wrapper a {
    color: var(--Light-Colour);
    text-decoration: none;
    font-size: 1.25vw;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    position: relative;
    letter-spacing: 0.10em;
}
.navbar-link-wrapper ul {
    padding: 0;
    list-style: none;
    display: table;
    width: 250px;
    text-align: center;
}
.navbar-link-wrapper li {
    display: table-cell;
    position: relative;
}
.navbar-link-wrapper a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-link-wrapper a:hover:after {
    width: 100%;
    left: 0;
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

.testing {
    width: 100px;
    height: 100px;
    background-color: white;
}