<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vorlus</title>

    <link rel="stylesheet" type="text/css" href="../Static/index.css" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />

    <script src="../Script/Index.js"></script>
</head>
<body>

<div class="container" id="default">
    <div class="navbar">
        <div class="navbar-link-wrapper">
            <ul>
                <li><a href="#" onclick="">Home</a></li>
                <li><a href="#" onclick="showProjects()">Projects</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="projectsDiv" style="display: none">
    <div class="testing"></div>
</div>

</body>
</html>