#default .logo-wrapper {
    display: flex;
    place-content: center;
    place-items: center;
    height: 25vw;
}
#default .vorlus-svg {
    height: 25vw;
    margin-top: 3vw;
}
#default .introduction-wrapper {
    display: flex;
    place-items: center;
    place-content: center;
    height: 10vw;
}
#default .introduction-wrapper strong {
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 0.25vw;
    color: var(--Light-Colour);
    position: absolute;

    /*top: 315px;*/
    /*float: top;*/
}
#default .introduction-wrapper h2 {
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--Light-Colour);
    position: relative;
    margin-top: 6.5vw;
    /*top: 315px;*/
    /*float: bottom;*/
}
#default .copyright-spacer {
    height: 10vw;
    margin-top: 10vw;
    background-color: white;
}
#default .aboutUs{
    color: var(--Light-Colour);
    text-align: center;
    place-items: center;
    place-content: center;
}
#default .aboutUs h1 {
    font-size: 2.5vw;
    letter-spacing: .1vw;
    font-weight: bold;
    margin: 2vw 1vw 1vw;
}
#default .aboutUs h2 {
    font-size: 1vw;
    max-width: 30%;
    align-self: center;
    margin: 0 auto;
}
#default .contact{
    color: var(--Light-Colour);
    text-align: center;
    place-items: center;
    place-content: center;
}
#default .contact h1 {
    font-size: 2.5vw;
    letter-spacing: .1vw;
    font-weight: bold;
    margin: 2vw 1vw 1vw;
}
#default .contact h2 {
    font-size: 1vw;
    max-width: 30%;
    align-self: center;
    margin: 0 auto;
}
#default .contact h3 b {
    font-weight: bolder;
    margin-right: 1vw;
}
#default .contact h3 i {
    font-weight: lighter;
}
#default .contact h3 {
    font-size: 1vw;
    max-width: 30%;
    align-self: center;
    margin: 0 auto;
}
#default .contact li {
    list-style: none;
}
#default .contact li:nth-child(1) {
    margin-right: 7.5vw;
}