/*Media queries*/
/*Smallest screens*/
@media screen and (max-width:500px) {
    .logo-wrapper {
        width: 85%;
        place-self: center;
    }
    #default .introduction-wrapper strong {
        font-size: 15vw;
    }
}
/*Smaller screens*/
@media screen and (max-width:1000px) {
    .logo-wrapper {
        width: 50%;
        place-self: center;
    }
    #default .introduction-wrapper strong {
        font-size: 10vw;
    }
    #default .introduction-wrapper h2 {
        display: none;
    }
}
/*Large screens*/
@media screen and (min-width:1000px) {
    .logo-wrapper {
        width: 35%;
        place-self: center;
    }
    #default .introduction-wrapper strong {
        font-size: 5vw;
        letter-spacing: 0.25vw;
        margin-top: -10vw;
    }
    #default .introduction-wrapper h2 {
        margin-bottom: 9vw;
    }
}
/*#default {*/
/*    place-self: center;*/
/*    place-content: center;*/
/*    place-items: center;*/
/*}*/
#default .logo {
    place-items: center;
    place-content: center;
    display: flex;
}
#default .logo-wrapper {
    display: flex;
    place-content: center;
    place-items: center;
}
#default .vorlus-svg {
    margin-top: 3vw;
    max-width:100%;
    max-height:100%;
}
#default .introduction-wrapper {
    display: flex;
    place-items: center;
    place-content: center;
    height: 10vw;
}
#default .introduction-wrapper strong {
    font-weight: bold;
    color: var(--Light-Colour);
    position: absolute;

    /*top: 315px;*/
    /*float: top;*/
}
#default .introduction-wrapper h2 {
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--Light-Colour);
    position: relative;
    margin-top: 6.5vw;
    /*top: 315px;*/
    /*float: bottom;*/
}
#default .copyright-spacer {
    height: 10vw;
    margin-top: 10vw;
    background-color: white;
}
#default .aboutUs{
    color: var(--Light-Colour);
    text-align: center;
    place-items: center;
    place-content: center;
}
#default .aboutUs h1 {
    font-size: 2.5vw;
    letter-spacing: .1vw;
    font-weight: bold;
    margin: 2vw 1vw 1vw;
}
#default .aboutUs h2 {
    font-size: 1vw;
    max-width: 30%;
    align-self: center;
    margin: 0 auto;
}
#default .contact{
    color: var(--Light-Colour);
    text-align: center;
    place-items: center;
    place-content: center;
    margin-bottom: 10vw;
}
#default .contact h1 {
    font-size: 2.5vw;
    letter-spacing: .1vw;
    font-weight: bold;
    margin: 2vw 1vw 1vw;
}
#default .contact h2 {
    font-size: 1vw;
    max-width: 30%;
    align-self: center;
    margin: 0 auto;
}
#default .contact h3 b {
    font-weight: bolder;
    margin-right: 1vw;
}
#default .contact h3 i {
    font-weight: lighter;
}
#default .contact h3 {
    font-size: 1vw;
    max-width: 30%;
    align-self: center;
    margin: 0 auto;
}
#default .contact li {
    list-style: none;
}
#default .contact li:nth-child(1) {
    margin-right: 7.5vw;
}