#default .logo-wrapper {
    display: flex;
    place-content: center;
    place-items: center;
    height: 25vw;
}
#default .vorlus-svg {
    margin-top: 5vw;
    position: absolute;
    height: 25vw;
}
#default .introduction-wrapper {
    display: flex;
    place-items: center;
    place-content: center;
    height: 10vw;
}
#default .introduction-wrapper strong {
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 0.25vw;
    color: var(--Light-Colour);
    position: absolute;

    /*top: 315px;*/
    /*float: top;*/
}
#default .introduction-wrapper h2 {
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--Light-Colour);
    position: relative;
    margin-top: 6.5vw;
    /*top: 315px;*/
    /*float: bottom;*/
}