/*Media queries*/
/*Smallest screens*/
@media screen and (max-width:500px) {
    .navbar a {
        font-size: 1.25vw;
    }
    .navbar {
        height: 50%;
    }
}
/*Smaller screens*/
@media screen and (max-width:1000px) {
    .navbar a {
        font-size: 5vw;
    }
    .navbar {
        height: 50%;
    }
}
/*Large screens*/
@media screen and (min-width:1000px) {
    .navbar a {
        font-size: 1.25vw;
    }
    .navbar {
        height: 2.5vw;
    }
}

.navbar {
    background-color: var(--Darker-Colour);
    margin: 0;
    display: flex;
    width: 100%;
    place-items: center;
    place-content: space-evenly;
}
.navbar-link-wrapper a {
    color: var(--Light-Colour);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    letter-spacing: 0.10em;
    cursor: url("../SVGs/pointer.svg"), pointer;
}
.navbar-link-wrapper ul {
    padding: 0;
    list-style: none;
    display: table;
    width: 250px;
    text-align: center;
}
.navbar-link-wrapper li {
    display: table-cell;
    position: relative;
}
.navbar-link-wrapper a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-link-wrapper a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}