/*Media queries*/
/*Smallest screens*/
@media only screen and (max-width: 320px) {
    .navbar a {
        display: none !important;
    }
    .navbar {
        height: 20% !important;
        width: 100% !important;
    }
    .project-img {
          width: 50px !important;
          position:absolute !important;  right:-80px !important;
          display: block !important;
    }
    .dash-img {
        width: 50px !important;
        position:absolute !important;  left: -120px !important;
        display: block !important;
    }
    .home-img {
        width: 50px !important;
        position:relative !important; left: 48px !important;
        display: block !important;
    }
  }
/*Smaller screens*/
@media screen and (max-width: 980px) and (min-width: 320px) {
    .navbar a {
        display: none !important;
    }
    .navbar {
        height: 20% !important;
        width: 100% !important;
    }
    .project-img {
          width: 50px !important;
          position:absolute !important;  right:-20px !important;
          display: block !important;
    }
    .dash-img {
        width: 50px !important;
        position:absolute !important;  left: -90px !important;
        display: block !important;
    }
    .home-img {
        width: 50px !important;
        position:relative !important; left: 58px !important;
        display: block !important;
    }
  }
/*Large screens*/
@media screen and (max-width: 1440px) and (min-width: 980px) {
    .navbar a {
        font-size: 2rem;
        display: table;
        margin-top: -10px;
    }
    .navbar {
        height: 2.5vw;
    }
}
@media screen and (max-width: 2560px) and (min-width: 1441px) {
    .navbar a {
        font-size: 4rem;
        display: table;
        margin-top: -10px;
    }
    .navbar {
        height: 6vw !important;
    }
}
.dash-img {
    margin-bottom: 3px;
    display: none;
 }
.project-img {
    margin-bottom: 3px;
    display: none;
 }
.home-img {
    margin-bottom: 3px;
    display: none;
 }
.navbar {
    background-color: var(--Darker-Colour);
    margin: 0;
    display: flex;
    height: 110px;
    place-items: center;
    place-content: space-evenly;
}
.navbar-link-wrapper a {
    color: var(--Light-Colour);
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    margin-right: 10px;
    position: relative;
    letter-spacing: 0.10em;
    cursor: url("../SVGs/pointer.svg"), pointer;
}
.navbar-link-wrapper ul {
    padding: 0;
    list-style: none;
    display: table;
    width: 250px;
    text-align: center;
}
.navbar-link-wrapper li {
    display: table-cell;
    position: relative;
}
.navbar-link-wrapper a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-link-wrapper a:hover:after {
    width: 100%;
    left: 0;
    padding-left: 115%;
}
