

* {
    --Dark-Colour: #2e2e2e;
    --Darker-Colour: #202020;

    --Light-Colour: #fff;

    --Rep-Colour: #ff00cc;
}
body {
    background-color: var(--Dark-Colour);
    margin: 0;

    font-family: quicksand, sans-serif;

    -ms-overflow-style: none;  /* IE and Edge */

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    cursor: url("../SVGs/cursor.svg"), auto;
}
button {
    cursor: url("../SVGs/pointer.svg"), pointer;
}
::-webkit-scrollbar {
    display: none;
}
.container {
    position:relative;
}
.page {
    transition: opacity .25s;
}
img {
    pointer-events: none;
}
.copyright-notice {
    height: 5vw;
    background-color: var(--Darker-Colour);
    color: var(--Light-Colour);
    position: absolute;
    bottom: 0;
    margin-top: 10vw;
    width: 100%;
}
.copyright-notice h1 {
    font-size: 1vw;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
hr {
    width:70%;
    height:2px;
    background-color: var(--Light-Colour);
    border:none;
    margin-top: 7vw;
}
