* {
    --Dark-Colour: #2e2e2e;
    --Darker-Colour: #202020;

    --Light-Colour: #fff;

    --Rep-Colour: #ff00cc;
}
body {
    background-color: var(--Dark-Colour);
    margin: 0;

    font-family: quicksand, sans-serif;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.page {
    transition: opacity .25s;
}
img {
    pointer-events: none;
}