* {
    --Dark-Colour: #2e2e2e;
    --Darker-Colour: #202020;

    --Light-Colour: #fff;

    --Rep-Colour: #ff00cc;
}
body {
    background-color: var(--Dark-Colour);
    margin: 0;

    font-family: quicksand, sans-serif;
}
.page {
    transition: opacity .5s ease-in-out;
}